.logo_white {
  height: 30px;
  width: 176px;
  background-image: url(https://web.dev.cpwys.co/assets/module-site/headers/header-site-transparent/logo.svg);
}

.logo_color {
  height: 30px;
  width: 173px;
  background-image: url(https://web.dev.cpwys.co/assets/module-core/footers/footer-default/logo.svg);
}
