/*Media query min widths*/
$mq_xxl: 1425px;
$mq_xl: 1280px;
$mq_lg: 1080px;
$mq_md: 768px;
$mq_sm: 375px;
$mq_xs: 0px;

@import "_colors";
@import "_button";
@import "_logos";
@import "_hero";
@import "_inputs";
@import "_text";
@import "_header";
@import "_footer";
@import "_benefits";
@import "_app_stores";
@import "_edu";
@import "_know_money";
@import "_featured";
@import "_bottom_menu";
@import "_numbers";

@font-face {
  font-family: Helvetica Neue;
  src: url(../assets/HelveticaNeue-Regular.ttf) format("truetype");
}

* {
  font-family: Helvetica Neue;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
}

sup {
  vertical-align: super;
  font-size: 50%;
}

a {
  cursor: pointer;
}
