* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Neue Helvetica", sans-serif;
}

h2 {
  color: #1c1c1f;
  font-family: "Neue Helvetica", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: medium;
  margin: 0 auto 1rem;
}

#main {
  font-family: "Neue Helvetica", sans-serif;
  line-height: 1.4;
}

.holder {
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

#nav-div {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  width: 100%;
  z-index: 5;
  height: 4.5rem;
}

#top-nav {
  width: 95%;
  margin: 0 auto;
  max-width: 64rem;
  position: relative;
  height: inherit;
}

#capway-link {
  background-image: url("https://capway.com/assets/module-site/headers/header-site-transparent/logo.svg");
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  color: transparent;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.6rem;
}

.menu-close {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  text-align: right;
  cursor: pointer;
}

#link-div {
  color: transparent;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5rem;
  background-image: url(/assets/module-site/headers/header-site-transparent/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sign-up {
  background-color: #f8d88b;
  color: #4a4a4a;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  box-sizing: border-box;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 15.2px 8px;
  width: 112px;
}

li {
  list-style: none;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.nav-options {
  display: inline-block;
  margin: 0 0.8rem;
}

#container-1 {
  background-image: linear-gradient(to bottom left, #63cc71, #5ec395, #5bbab3, #56ace4);
  background-color: #ffffff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 5rem;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

#cap-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
  padding: 68px 0;
}

.content-left {
  width: 43%;
}

h1 {
  color: #fff;
  margin: 0 0 1rem;
  line-height: 1.3;
  font-size: 2.5rem;
  font-weight: medium;
}

#p-header {
  color: #ffffffcc;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.email-div {
  width: 90%;
  white-space: nowrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  border: none;
  outline: none;
  overflow: hidden;
  height: 3rem;
  margin: 0 0 2rem;
}

.sublinks {
  display: flex;
  align-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none;
}

#sub-signup {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.8rem;
}

#header-email {
  height: 3rem;
  vertical-align: top;
  width: 70%;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0 0 0 1rem;
  line-height: 1;
}

#email-link {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  background-color: #f8d88b;
  color: #4a4a4a;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  height: inherit;
  box-sizing: border-box;
  padding: 1rem 0 0;
  left: -0.5rem;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}

.content-2 {
  width: inherit;
  height: inherit;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/phone-card.png);
}

.cap-account {
  background-color: #fafafb;
  padding: 80px 0;
  text-align: center;
  margin: auto;
  height: 478.375px;
}

.account-container {
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

.account-inner {
  text-align: center;
  margin: 3rem auto 0;
}

.capcard1 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1rem;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 19rem;
  min-height: 14rem;
  margin: 0 0 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-debit-cards.png);
}
.capcard1 .card-inner1 {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}

.card-element {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}
.card-element .acct-icon1 {
  width: 6rem;
  height: 6rem;
  margin: 3rem auto 1.5rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/debit-cards.svg);
}

.capspan-1 {
  font-size: 1.1rem;
  font-weight: medium;
  line-height: 1.5;
  color: #333;
  font-family: "Neue Helvetica", sans-serif;
}

.capcard2 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1rem;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 19rem;
  min-height: 14rem;
  margin: 0 0 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-withdrawal.png);
}
.capcard2 .card-inner2 {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}

.card-element {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}
.card-element .acct-icon2 {
  width: 6rem;
  height: 6rem;
  margin: 3rem auto 1.5rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/withdrawal.svg);
}

.capcard3 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1rem;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 19rem;
  min-height: 14rem;
  margin: 0 0 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-money-goals.png);
}
.capcard3 .card-inner3 {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}

.card-element {
  width: 85%;
  margin: 0 auto;
  min-height: inherit;
}
.card-element .acct-icon3 {
  width: 6rem;
  height: 6rem;
  margin: 3rem auto 1.5rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/money-goals.svg);
}

.benefits-btn {
  max-width: 20rem;
  display: block;
  margin: 0 auto;
}

.benefits {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #00ace2;
  display: block;
  width: 100%;
  padding: 0.95rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.span-btn {
  font-family: Helvetica Neue Medium;
  font-size: 0.9rem;
  padding: 1.2rem 0.5rem;
}

.container-2 {
  background-image: linear-gradient(to bottom left, #4babd8, #82d49d);
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
}

.cap-apps {
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

#h2-apps {
  color: #ffffff;
  font-family: "Neue Helvetica", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto 1rem;
  line-height: 1.5;
}

.apps-inner .app-1 {
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11rem;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/google-play.svg);
}

.app-2 {
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11rem;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/app-store.svg);
}

.card-img {
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/flipped-card.svg);
  position: absolute;
  right: 2.5%;
  bottom: -3.5rem;
}

.container-3 {
  text-align: center;
  padding: 3.5rem 0 4rem;
  background-color: #1c1c1f;
  text-align: center;
  padding: 3.5rem 0 4rem;
}

.cap-featured {
  color: #f4f4f8;
  margin: 0 auto 2rem;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 1.8rem;
  display: block;
}

.cap-brands {
  text-align: center;
  padding: 3.5rem 0 4rem;
}

.essence {
  width: 7rem;
  height: 2rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  background-image: url(assets/feature-essence.png);
}

.cnn {
  width: 7rem;
  height: 2rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-cnn.png);
}

.business-insider {
  width: 7rem;
  height: 2rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-business-insider.png);
}

.inc {
  width: 7rem;
  height: 2rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-inc.png);
}

.forbes {
  width: 7rem;
  height: 2rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-forbes.png);
}

#know-money {
  background-color: #fafafb;
  padding: 5rem 0;
  border-bottom: 0.05rem solid #ddd;
}

.money-holder {
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

.know-links {
  border-bottom: 0.05rem solid #ddd;
  max-width: 43rem;
  margin: 0 auto 2rem;
  text-align: center;
  display: flex;
}

.option {
  padding: 1rem 1.5rem;
  border-bottom: 0.2rem solid transparent;
  text-align: center;
  cursor: pointer;
  color: #4a4a4a;
  display: inline-block;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.learn-card {
  display: block;
  max-width: 23%;
  margin: 0 0 1rem;
}

.card-link {
  height: 22rem;
  background-color: #fff;
  overflow: hidden;
  border: 0.05rem solid #eee;
  border-radius: 0.5rem;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  color: #4a4a4a;
}

#phunds {
  background-color: #a8e1bb;
  padding: 5rem 0 0;
}

#phunds-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

.phunds-left {
  width: 40%;
}

.phunds-h2 {
  color: #1c1c1f;
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.phunds-p {
  line-height: 1.8;
  color: #333;
  font-size: 0.95rem;
  margin: 0 0 2rem;
  text-align: left;
}

.phunds-btn {
  display: block;
  margin: 0 auto 3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  padding: 0.95rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: #f8d88b;
  color: #4a4a4a;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.phunds-mid {
  width: 100%;
  height: 32rem;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/partnership.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.phunds-right {
  width: 27%;
}
.phunds-right .phunds-h2 {
  color: #1c1c1f;
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.phunds-p {
  line-height: 1.8;
  color: #333;
  font-size: 0.95rem;
  margin: 0 0 2rem;
  text-align: left;
}

.phunds-btn {
  display: block;
  margin: 0 auto 3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  padding: 0.95rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: #f8d88b;
  color: #4a4a4a;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

#cap-numbers {
  background-color: #fafafb;
  padding: 5rem 0;
  border-bottom: 0.05rem solid #ddd;
}

#numbers-holder {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 64rem;
}

.numbers-h3 {
  color: #1c1c1f;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.numbers-left {
  width: 35%;
  margin: 0 auto;
  padding: 3rem 0 0;
  text-align: left;
}

.numbers-right {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.number-cards1 {
  width: 48%;
  padding: 3rem 0 0;
}

.img-1 {
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-1.png);
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-2 {
  width: 100%;
  height: 200px;
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.number-cards2 {
  width: 48%;
}

.img-3 {
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-3.png);
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-4 {
  background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-4.png);
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

#cap-footer {
  background-color: #1c1c1f;
}

.footer-holder {
  max-width: 64rem;
  margin: 0 auto;
  width: 90%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-social {
  width: 16%;
  margin: 0 0 1rem;
}

.footer-logo {
  width: 10rem;
  height: 3rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/logo.svg);
  margin: 0 0 1rem;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.facey {
  width: 1.2rem;
  height: 1.2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-facebook.svg);
}

.insta {
  width: 1.2rem;
  height: 1.2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-instagram.svg);
}

.twitter {
  width: 1.2rem;
  height: 1.2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-twitter.svg);
}

.youtube {
  width: 1.2rem;
  height: 1.2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-youtube.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.linkedin {
  width: 1.2rem;
  height: 1.2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-linkedin.svg);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  flex-wrap: wrap;
  text-align: left;
}

.strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}

.sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-money .strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
.footer-money .sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-learn .strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
.footer-learn .sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-work .strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
.footer-work .sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-support .strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
.footer-support .sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-download .strong-footer {
  display: block;
  color: #fff;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
.footer-download .sub-section {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 0 0 0.8rem;
  opacity: 0.8;
}

.footer-lower {
  max-width: 64rem;
  margin: 0 auto;
  width: 90%;
  border-top: 0.05rem solid #47494a;
  padding: 3rem 0;
}

#footer-disclosures {
  font-size: 0.75rem;
  color: #929596;
  margin: 0 0 1.2rem;
  line-height: 1.5;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
