* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin capcards {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 1rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: .5rem;
    width: 19rem;
    min-height: 14rem;
    margin: 0 0 2rem;
}


@mixin cardelements {
    width: 85%;
    margin: 0 auto;
    min-height: inherit;
}

@mixin cardinner {
    width: 85%;
    margin: 0 auto;
    min-height: inherit
}

@mixin cardicons {
    width: 6rem;
    height: 6rem;
    margin: 3rem auto 1.5rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin capspan {
    font-size: 1.1rem;
    font-weight: medium;
    line-height: 1.5;
    color: #333;
    font-family: 'Neue Helvetica', sans-serif;
}

@mixin capapps {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 11rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

@mixin brand {
    width: 7rem;
    height: 2rem;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 1rem 2rem;
}

h1 {
    color: #fff;
    margin: 0 0 1rem;
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: medium;
}

h2 {
    color:#1c1c1f;
    font-family:'Neue Helvetica', sans-serif ;
    text-align: center;
    font-size: 32px;
    font-weight: medium;
    margin: 0 auto 1rem;
}


#main {
    font-family: 'Neue Helvetica', sans-serif;
    line-height: 1.4;

#nav-div {
    width: 95%;
    margin: 0 auto;
    max-width: 64rem;
    position: absolute;
    height: inherit;
}

#top-nav {
    width: 100%;
    height: 4.5rem;
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    text-align: right;

#capway-link {
    background-image: url("https://capway.com/assets/module-site/headers/header-site-transparent/logo.svg");
    width: 10rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    color: transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.6rem;
    }

#link-div {

}


ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

#sign-up {
    background-color: #f8d88b;
    color: #4a4a4a;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    display: block;
    // padding: .95rem .5rem;
    box-sizing: border-box;
    border-radius: .3rem;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 15.2px 8px;
    width: 112px;
}

// end ul
} 

li {
    list-style: none;

}
a {
    text-decoration: none;
    color: #ffffff;
    padding: 2.5rem 0 1.5rem;
    border-bottom: .2rem solid transparent;
    transition: border-bottom-color .25s;
    display: inline-flex;
    margin: 0 15px;

}
// end top nav
}


#container-1 {
    background-image: linear-gradient(to bottom left, #63cc71, #5cbda9, #56ace4);
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
}

#cap-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
    padding: 68px 0;
}

#p-header {
    color: #ffffffcc;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

#header-email {
    height: 3rem;
    vertical-align: top;
    width: 70%;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
    line-height: 1;
}

#email-link {
    vertical-align: top;
    display: inline-block;
    width: 32%;
    background-color: #f8d88b;
    color: #4a4a4a;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    height: inherit;
    box-sizing: border-box;
    padding: 1rem 0 0;
    left: -.5rem;
    position: relative;
}

.content-left {
    width: 43%;
}

.content-2 {
    width: inherit;
    height: inherit;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/phone-card.png);
}

// section 2

#cap-account {
    background-color: #fafafb;
    padding: 80px 0;
    text-align: center;
    margin: auto;
    height: 478.375px;

    .account-container {
        width: 90%;
        margin: 0 auto;
        max-width: 64rem;

        .account-inner {
            text-align: center;
            margin: 3rem auto 0;

            .capcard1 {
                @include capcards;
                    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-debit-cards.png);
                        .card-inner1 {
                            @include cardinner;
                        }
                    .card-element {
                        @include cardelements;
                            .acct-icon1 {
                                @include cardicons;
                                background-image: url(https://capway.com/assets/module-site/pages/page-landing/debit-cards.svg);
                            }
                            .capspan-1 {
                                @include capspan;
                            }
                    }
            }
            .capcard2 {
                @include capcards;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-withdrawal.png);
                .card-inner2 {
                    @include cardinner;
                }
                    .card-element {
                        @include cardelements;
                            .acct-icon2 {
                                @include cardicons;
                                background-image: url(https://capway.com/assets/module-site/pages/page-landing/withdrawal.svg);
                        }
                                    .capspan-1 {}
                    }
            }
            .capcard3 {
                @include capcards;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-money-goals.png);
                .card-inner3 {
                    @include cardinner;
                }
                .card-element {
                    @include cardelements;
                        .acct-icon3 {
                            @include cardicons;
                            background-image: url(https://capway.com/assets/module-site/pages/page-landing/money-goals.svg);  
                    }
                }
            }
            // end account-inner
        }
        // end account-container
    }
    
}

.benefits-btn {
    max-width: 20rem;
    display: block;
    margin: 0 auto;
}

.benefits {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: #00ace2;
    display: block;
    width: 100%;
    padding: .95rem .5rem;
    box-sizing: border-box;
    border-radius: .3rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.span-btn {
    font-family: Helvetica Neue Medium;
    font-size: .9rem;
    padding: 1.2rem .5rem;
}

.container-2 {
    background: linear-gradient(45deg#4babd8,#82d49d);
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto;

    .cap-apps {
        width: 90%;
        margin: 0 auto;
        max-width: 64rem;

        #h2-apps {
            color: #727272;
            font-family: 'Neue Helvetica', sans-serif;
            text-align: center;
            font-size: 1.8rem;
            margin: 0 auto 1rem;
            line-height: 1.5;
        }

        .apps-inner {
            .app-1 {
                @include capapps();
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/google-play.svg);
            }
            .app-2 {
                @include capapps();
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/app-store.svg);
            }
        }
    }
    .card-img {
        background-image: url(https://capway.com/assets/module-site/pages/page-landing/flipped-card.svg);
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        right: 2.5%;
        bottom: -3.5rem;
        width: 90%;
    }
}

.container-3 {
    background-color:#1c1c1f;
    text-align: center;
    padding: 3.5rem 0 4rem;

    .cap-featured {
        color: #f4f4f8;
        margin: 0 auto 2rem;
        font-family:'Neue Helvetica', sans-serif;
        font-size: 1.8rem;
        display: block;

        .cap-brands {

            .essence {
                @include brand;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-essence.png);
            }
            .cnn {
                @include brand;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-cnn.png);
            }
            .business-insider {
                @include brand;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-business-insider.png);
            }
            .inc {
                @include brand;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-inc.png);
            }
            .forbes {
                @include brand;
                background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-forbes.png);
            }
        }
    }
}

#know-money {

}

#phunds {

}

#cap-numbers {

}

#cap-footer {

}


// end main
}

