@import "./node_modules/include-media/dist/include-media";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neue Helvetica', sans-serif;
}


@mixin capcards {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 1rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: .5rem;
    width: 19rem;
    min-height: 14rem;
    margin: 0 0 2rem;
}


@mixin cardelements {
    width: 85%;
    margin: 0 auto;
    min-height: inherit;
}

@mixin cardinner {
    width: 85%;
    margin: 0 auto;
    min-height: inherit
}

@mixin cardicons {
    width: 6rem;
    height: 6rem;
    margin: 3rem auto 1.5rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin capspan {
    font-size: 1.1rem;
    font-weight: medium;
    line-height: 1.5;
    color: #333;
    font-family: 'Neue Helvetica', sans-serif;
}

@mixin capapps {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 11rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

@mixin brand {
    width: 7rem;
    height: 2rem;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 1rem 2rem;
}

@mixin phundsbtn {
    display: block;
    margin: 0 auto 3rem;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    display: block;
    width: 100%;
    padding: .95rem .5rem;
    box-sizing: border-box;
    border-radius: .3rem;
    background-color: #f8d88b;
    color: #4a4a4a;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    }

@mixin phunds-h2 {
    color: #1c1c1f;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    }

@mixin footericons {
    width: 1.2rem;
    height: 1.2rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin strongfooter {
    display: block;
    color: #fff;
    font-family:'Neue Helvetica', sans-serif ;
    font-size: .85rem;
    margin: 0 0 1rem;
}

@mixin subsections {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: .85rem;
    margin: 0 0 .8rem;
    opacity: .8;
}

h2 {
    color:#1c1c1f;
    font-family:'Neue Helvetica', sans-serif ;
    text-align: center;
    font-size: 32px;
    font-weight: medium;
    margin: 0 auto 1rem;
    @include media ('<=phone') {
        font-size: 1.5rem;
    }
    @include media ('>phone', '<=26.563rem') {
        font-size: 1.5rem;
    }

}


#main {
    font-family: 'Neue Helvetica', sans-serif;
    line-height: 1.4;
    @include media ('<=phone') {
        position: relative;
    }
    @include media ('>phone', '<=26.563rem') {
        position: relative;
    }
}


.holder {
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
}


.nav-div {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    z-index: 5;
    height: 4.5rem;
}

.holder-1 {
    width: 95%;
    margin: 0 auto;
    max-width: 64rem;
    position: relative;
    height: inherit;
    @include media ('<=64em') {
        padding: 8rem 0 5rem;
    }
}

.header-nav {
    @include media ('<=phone') {
    background-color: #4eb3cc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    }

}

#capway-link {
    background-image: url("https://capway.com/assets/module-site/headers/header-site-transparent/logo.svg");
    width: 10rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    color: transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.6rem;
    }

.menu-close {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    text-align: right;
    cursor: pointer;
}

#link-div {
    color: transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5rem;
}

.nav-logo {
    width: 10rem;
    height: 3rem;
    background-image: url(https://capway.com/assets/module-site/headers/header-site-transparent/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    @include media ('<=phone') {
        width: 10rem;
    }
}

#sign-up {
    background-color: #f8d88b;
    color: #4a4a4a;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    display: block;
    box-sizing: border-box;
    border-radius: .3rem;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 15.2px 8px;
    width: 112px;
}



li {
    list-style: none;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: .95rem;
    margin: 0 0 .8rem;
    opacity: .8;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-family: 'Neue Helvetica', sans-serif;
    font-size: .95rem;
    padding: 2.5rem 0 1.5rem;
    border-bottom: .2rem solid transparent;
    transition: border-bottom-color .25s;
    display: inline-block;
}

.nav-options {
    display: inline-block;
    margin: 0 .8rem;
}



.container-1 {
    background-image: linear-gradient(to bottom left, #49d05b, #5cbda9, #429eda);
    background-color: #ffffff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 5rem;
    z-index: 1;
    position: relative;
    @include media ('<=64em') {
        padding: 8rem 0 5rem;
    }

}

.holder-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
    @include media ('<=67.5em') {
        flex-direction: column;
    }
}

.content-left {
    width: 43%;
    @include media ('<=67.5em') {
        width: 100%;
        max-width: 38rem;
        margin: 0 auto 4rem;
    }
}

h1 {
    color: #fff;
    margin: 0 0 1rem;
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: medium;
    @include media ('<=64') {
        font-size: 2.4rem;
    }
    @include media ('>1280px', '<=1425px') {
        font-size: 2.6rem;
    }
    @include media ('>1425px') {
        width: 124%;
    }
}

#p-header {
    color: #ffffffcc;
    font-size: 1.2rem;
    margin: 0 0 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 2rem;
    max-width: 25rem;
    color: hsla(0,0%,100%,.8);
    @include media ('<=64em') {
        font-size: 1.1rem;
    }
    @include media ('>80em') {
        font-size:1.5rem;
        max-width:32rem;
    }
}

.email-div {
    width: 90%;
    white-space: nowrap;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: .3rem;
    border: none;
    outline: none;
    overflow: hidden;
    height: 3rem;
    margin: 0 0 2rem;
}

.sublinks {
    display: flex;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

#sub-signup {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: .8rem;
}

.link-span {
    color: #fff;
    margin: 0 .5rem;
    font-size: large;
}

#header-email {
    height: 3rem;
    vertical-align: top;
    width: 70%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
    line-height: 1;
}

#email-link {
    vertical-align: top;
    display: inline-block;
    width: 32%;
    background-color: #f8d88b;
    color: #4a4a4a;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    height: inherit;
    box-sizing: border-box;
    left: -.5rem;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.content-right {
    width: 54%;
    @include media ('<=67.5em') {
        width: 100%;
        margin: 0 auto;
    }
}

.right-holder {
    width: 36rem;
    height: 36rem;
    margin: 0 auto;
    // position: relative;
    // @include media ('<=phone') {
    //     width: 19rem;
    //     height: 19rem;
    // }
    @include media ('<=74.0625em') {
        width: 36rem;
        height: 36rem;
    }
    @include media ('<=39.0625em') {
        width: 23rem;
        height: 23rem
    }
    @include media ('<=23.5625em') {
        width: 21rem;
        height: 21rem;
    }
    @include media ('<=21.5625em') {
        width: 19rem;
        height: 19rem;
    }
}

.right-card {
    width: inherit;
    height: inherit;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/phone-card.png);
}

.section-2 {
    background-color: #fafafb;
    padding: 5rem 0;
}

.holder-3 {
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
}


.account-inner {
    text-align: center;
    margin: 3rem auto 0;
}

.capcard1 {
    @include capcards;
        background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-debit-cards.png);
            .card-inner1 {
                @include cardinner;
            }
            @include media ('<=phone', '<=920px') {
                background-color: #c8e6f3;
                background-image: none;
                width: 90%;
                border-radius: .5rem;
                box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
                }
}


.card-element {
    @include cardelements;
        .acct-icon1 {
            @include cardicons;
            background-image: url(https://capway.com/assets/module-site/pages/page-landing/debit-cards.svg);
            }
    }


.capspan-1 {
    @include capspan;
}

.capcard2 {
    @include capcards;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-withdrawal.png);
    .card-inner2 {
        @include cardinner;
    }
    @include media ('<=phone', '<=920px') {
        background-color: #fbe9bc;
        background-image: none;
        width: 90%;
        border-radius: .5rem;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
        }
}


.card-element {
    @include cardelements;
        .acct-icon2 {
            @include cardicons;
            background-image: url(https://capway.com/assets/module-site/pages/page-landing/withdrawal.svg);
    }
}


.capcard3 {
    @include capcards;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-money-goals.png);
    .card-inner3 {
        @include cardinner;
    }
    @include media ('<=phone', '<=920px') {
        background-color: #a8e1bb;
        background-image: none;
        width: 90%;
        border-radius: .5rem;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
        }
}


.card-element {
    @include cardelements;
        .acct-icon3 {
            @include cardicons;
            background-image: url(https://capway.com/assets/module-site/pages/page-landing/money-goals.svg);  
    }
}


.benefits-btn {
    max-width: 20rem;
    display: block;
    margin: 0 auto;
}

.benefits {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: #00ace2;
    display: block;
    width: 100%;
    padding: .95rem .5rem;
    box-sizing: border-box;
    border-radius: .3rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.span-btn {
    font-family: Helvetica Neue Medium;
    font-size: .9rem;
    padding: 1.2rem .5rem;
}

.section-3 {
    background-image: linear-gradient(to bottom left, #82d49d, #4babd8);
    padding: 3rem 0;
    // position: relative;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.cap-apps {
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
    text-align: center;
}

#h2-apps {
    color: #ffffff;
    font-family: 'Neue Helvetica', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto 1rem;
    line-height: 1.5;
}

.apps-inner {
    .app-1 {
        @include capapps;
        background-image: url(https://capway.com/assets/module-site/pages/page-landing/google-play.svg);
    }
}


.app-2 {
    @include capapps;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/app-store.svg);
}

.card-div {
    position: absolute;
    right: 2.5%;
    bottom: -3.5rem;
}

.card-img {
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/flipped-card.svg);
    width: 90%;
}


.section-4 {
    text-align: center;
    padding: 3.5rem 0 4rem;
    background-color:#1c1c1f;
    text-align: center;
    padding: 3.5rem 0 4rem;
}


.cap-featured {
    color: #f4f4f8;
    margin: 0 auto 2rem;
    font-family:'Neue Helvetica', sans-serif;
    font-size: 1.8rem;
    display: block;
}


.cap-brands {
    text-align: center;
    margin: 0 auto;
}


.essence {
    @include brand;
    background-image: url(assets/feature-essence.png);
}


.cnn {
    @include brand;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-cnn.png);
}

.business-insider {
    @include brand;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-business-insider.png);
}

.inc {
    @include brand;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-inc.png);
}

.forbes {
    @include brand;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/feature-forbes.png);
}

.section-5 {
    background-color: #fafafb;
    padding: 80px 0;
    border-bottom: .05rem solid #ddd;
}

.money-holder {
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
}

.know-links {
    border-bottom: .05rem solid #ddd;
    max-width: 43rem;
    margin: 0 auto 2rem;
    text-align: center;
    // display: flex;
}

.option {
    padding: 1rem 1.5rem;
    border-bottom: .2rem solid transparent;
    text-align: center;
    cursor: pointer;
    color: #4a4a4a;
    display: inline-block;
}

.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem;
}

.learn-card {
    display: block;
    max-width: 23%;
    margin: 0 0 1rem;
}

.card-link {
    height: 22rem;
    background-color: #fff;
    border: .05rem solid #eee;
    border-radius: .5rem;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    position: relative;
    color: #4a4a4a;
}


.section-6 {
    background-color: #a8e1bb;
    padding: 1rem 0 0;
    @include media ('<=phone') {
        padding: 5rem 0 0;
    }
}

#phunds-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
    @include media ('<=phone') {
        flex-direction: column;
    }
}

.phunds-left {
    width: 27%;
    @include media ('<=phone') {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto 2rem;
    }
}

.phunds-h2 {
    @include phunds-h2();
    @include media ('<=phone') {
        font-size: 1.5rem;
        text-align: center;
    }
}

.phunds-p {
    line-height: 1.8;
    color: #333;
    font-size: .95rem;
    margin: 0 0 2rem;
    text-align: left;
    @include media ('<=phone') {
        font-size: .95rem;
        text-align: center;
        max-width: 40rem;
    }
}

.phunds-btn {
    @include phundsbtn()
}

.phunds-mid {
    width: 46%;
    @include media ('<=phone') {
        display: none;
    }
}

.phone-mid {
    width: 100%;
    height: 32rem;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/partnership.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.phunds-right {
    width: 27%;
    @include phunds-h2;
    @include media ('<=phone') {
        width: 100%;
        max-width: 40rem;
        text-align: center;
        margin: 0 auto 2rem;
    }
}

.phunds-btn {
    @include phundsbtn;
}

.section-7 {
    background-color: #fafafb;
    padding: 5rem 0;
    border-bottom: .05rem solid #ddd;
}

.numbers-holder {
    display: flex;
    justify-content: space-between;
    max-width: 64rem;
    width: 90%;
    margin: 0 auto;
    max-width: 64rem;
    @include media ('<=phone') {
        flex-direction: column;
    }
}

.numbers-h3 {
    color: #1c1c1f;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    @include media ('<=phone') {
        font-size: 1.5rem;
    }
}

.numbers-p {
    line-height: 1.8;
    @include media ('<=phone') {
        @include media ('<=phone') {
            font-size: .9rem;
        }
    }
}

.numbers-left {
    width: 35%;
    margin: 0 auto;
    padding: 3rem 0 0;
    text-align: left;
    @include media ('<=phone') {
        width: 100%;
        max-width: 40rem;
        text-align: center;
        margin: 0 auto 2rem;
        padding: 0;
    }
}

.numbers-right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    @include media ('<=phone') {
        width: 100%;
        max-width: 35rem;
        margin: 0 auto;
    }
}

.number-cards1{
    width: 48%;
    padding: 3rem 0 0;
}

.img-1 {
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-1.png);
    width: 100%;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-2 {
    width: 100%;
    height: 200px;
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.number-cards2 {
    width: 48%;
}

.img-3 {
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-3.png);
    width: 100%;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-4 {
    background-image: url(https://capway.com/assets/module-site/pages/page-landing/card-4.png);
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#cap-footer {
    background-color: #1c1c1f;
}

.footer-holder {
    max-width: 64rem;
    margin: 0 auto;
    width: 90%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media ('<=phone') {
        justify-content: center;
    }
}

.logo-social {
    width: 16%;
    margin: 0 0 1rem;
    @include media ('<=phone') {
        width: 15rem;
    }
}

.footer-logo {
    width: 10rem;
    height: 3rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/logo.svg);
    margin: 0 0 1rem;
    @include media ('<=phone') {
        margin: 0 auto 1rem;
    }
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.facey {
    @include footericons();
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-facebook.svg);
}

.insta {
    @include footericons();
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-instagram.svg);
}

.twitter {
    @include footericons;
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-twitter.svg);
}

.youtube {
    @include footericons;
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-youtube.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.linkedin {
    @include footericons;
    background-image: url(https://capway.com/assets/module-core/footers/footer-default/footer-linkedin.svg);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
    text-align: left;
    @include media ('<=phone') {
        width: 100%;
        justify-content: center;
    }
    @include media ('<=55rem') {
        padding:1rem;
        text-align:center
    }
}

.footer-inc {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}


.footer-money {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}

.footer-learn {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}

.footer-work {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}

.footer-support {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}
            
.footer-download {
    .strong-footer {
        @include strongfooter;
    }
    .sub-section {
        @include subsections;
    }
    @include media ('<=phone') {
        padding: 1rem;
        text-align: center;
    }
}
        
.footer-lower {
    max-width: 64rem;
    margin: 0 auto;
    width: 90%;
    border-top: .05rem solid #47494a;
    padding: 3rem 0;
}

#footer-disclosures {
    font-size: .75rem;
    color: #929596;
    margin: 0 0 1.2rem;
    line-height: 1.5;
    text-align: left;
}

.cc-holder {
    background-image: linear-gradient(
        225.47deg,#82d49d,#4babd8);;
}

.capyright {
    display: block;
    max-width: 64rem;
    margin: 0 auto;
    width: 90%;
    padding: .8rem 0;
    color: #fff;
}

