$btn_secondary: #00ace2;
$btn_secondary_text: #fff;
$btn_primary: #f8d88b;
$btn_primary_text: #4a4a4a;
$link_dark: #181616cc;
$legal_grey: #929596;
$bg_dark: #151519;
$bg_green: #a9e2bc;
$bg_grey: #fafafb;
$bg_gradient: linear-gradient(230deg, #00cc71 20%, #00ace2 80%);
$bg_gradient_rev: linear-gradient(
  45deg,
  rgba(0, 204, 112, 0.8823529412),
  rgba(0, 173, 226, 0.8352941176)
);
