.section_hero {
  display: flex;
  flex-direction: column;
  background-image: $bg_gradient;
  color: #fff;
}

.section_hero_content {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
}
.hero_download_links {
  margin-top: 2rem;
  > a {
    font-size: 0.8rem;
    color: #fff !important;
  }
}

.sign_up {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
    a {
      color: $link_dark;
      font-size: revert;
    }
  }
}

.hero_image {
  display: flex;
  flex: 1.25;
  height: 648px;
  width: 632px;
  background-image: url(../assets/phone-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: $mq_lg) {
  .section_hero_content {
    flex-direction: column;
  }
  .hero_image {
    min-height: 576px;
    min-width: 576px;
    margin: 0 auto;
  }
}
