.section_know_money {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: $bg_grey;
}

.tab_container {
  display: flex;
  flex-direction: row;
  border-bottom: 0.05rem solid #dddddd;
}

.tab {
  padding: 1.5rem;
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
  &:hover {
    color: $btn_secondary;
    border-bottom: 0.2rem solid $btn_secondary;
  }
}

.active_tab {
  color: $btn_secondary;
  border-bottom: 0.2rem solid $btn_secondary;
}

.card_container {
  min-height: 370px;
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
