body {
  font-family: Helvetica Neue;
}

#wrap1 {
  background-image: linear-gradient(230deg, #00CC71 20%, #00ACE2 80%);
  height: 500px;
  padding: 10px;
  color: #fffc;
}

#wrap1 header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#wrap1 header #left-head {
  height: 60px;
  min-width: 40%;
  z-index: 2;
}

#wrap1 header #left-head .logo {
  background-image: url("https://capway.com/assets/module-site/headers/header-site-transparent/logo.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 190px;
  height: 50px;
  background-position: left;
}

#wrap1 header #right-head {
  height: 60px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap1 header #right-head #list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

#wrap1 header #right-head #list a {
  font-size: smaller;
  color: white;
  padding: 4px;
}

#wrap1 #top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 400px;
}

#wrap1 #top #top-left {
  width: 350px;
  padding-left: 30px;
}

#wrap1 #top #top-left #phone {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/phone-card.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
  width: 500px;
}

#wrap1 #top #top-right {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap1 #top #top-right .contain {
  max-width: 800px;
}

#wrap1 #top #top-right .contain #input {
  width: 90%;
  white-space: nowrap;
  -webkit-box-shadow: 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a;
  border-radius: 0.3rem;
  overflow: hidden;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  min-width: 200px;
}

#wrap1 #top #top-right .contain #input input {
  vertical-align: top;
  width: 70%;
  border: none;
  height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 1rem;
  line-height: 1;
}

#wrap1 #top #top-right .contain #input span {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  background-color: #f8d88b;
  color: #4a4a4a;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 0 0;
  left: -0.5rem;
  position: relative;
}

#wrap1 #top #top-right .contain .downloads {
  display: block;
  padding-top: 30px;
}

#wrap2 {
  background-color: #fafafb;
  padding: 10px;
}

#wrap2 .inner h2 {
  text-align: center;
}

#wrap2 .inner .box-list {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap2 .inner .box-list .box {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
  text-align: center;
}

#wrap2 .inner .box-list .box .pic {
  height: 60px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#wrap2 .inner .box-list #box1 {
  background-color: #c8e6f3;
  margin-top: 50px;
}

#wrap2 .inner .box-list #box1 #pic1 {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/debit-cards.svg");
}

#wrap2 .inner .box-list #box2 {
  background-color: #fbe9bc;
  margin-top: -40px;
}

#wrap2 .inner .box-list #box2 #pic2 {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/withdrawal.svg");
}

#wrap2 .inner .box-list #box3 {
  background-color: #a8e1bb;
  margin-top: 50px;
}

#wrap2 .inner .box-list #box3 #pic3 {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/money-goals.svg");
}

#wrap2 .inner button {
  -webkit-box-shadow: 0 2px 4px #0000001a, 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a, 0 2px 4px #0000001a;
  background-color: #00ace2;
  display: block;
  width: 100%;
  padding: 0.95rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

#wrap2 .inner button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#wrap3 {
  background-image: linear-gradient(230deg, #00CC71 20%, #00ACE2 80%);
  text-align: center;
  padding: 10px;
}

#wrap3 .inner h2 {
  color: #fff;
  font-family: "Helvetica Neue Light",Helvetica,sans-serif;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto 1rem;
  line-height: 1.5;
  position: relative;
}

#wrap3 .inner .download {
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13rem;
  height: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3rem;
}

#wrap3 .inner #first {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/google-play.svg");
}

#wrap3 .inner #second {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/app-store.svg");
}

#wrap4 {
  background-color: #a9e2bc;
  height: 250px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap4 .inner {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#wrap4 .inner p {
  font-size: 2.5rem;
}

#wrap4 .inner #list4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap4 .inner #list4 .icon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  padding: 4px;
  margin: 4px;
}

#wrap4 .inner #list4 #essence {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/feature-essence.svg");
}

#wrap4 .inner #list4 #cnn {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/feature-cnn.svg");
}

#wrap4 .inner #list4 #bi {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/feature-business-insider.svg");
}

#wrap4 .inner #list4 #inc {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/feature-inc.svg");
}

#wrap4 .inner #list4 #forbes {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/feature-forbes.svg");
}

#wrap5 {
  background-color: #151519;
  color: #fffc;
}

#wrap5 .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "ph p4 money";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#wrap5 .inner h2 {
  font-size: 2rem;
}

#wrap5 .inner p {
  line-height: 1.8;
  color: #d6d6d6;
  font-family: "Helvetica Neue";
  font-size: .95rem;
  margin: 0 0 2rem;
}

#wrap5 .inner .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap5 .inner .btn button {
  -webkit-box-shadow: 0 2px 4px #0000001a, 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a, 0 2px 4px #0000001a;
  display: block;
  width: 100%;
  padding: 0.95rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #f8d88b;
  color: #4a4a4a;
  max-width: 20rem;
}

#wrap5 .inner #phunds {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ph;
}

#wrap5 .inner #money {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: money;
}

#wrap5 .inner #pic4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: p4;
}

#wrap5 .inner #pic4 .img4 {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/partnership.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#wrap7 {
  background-color: #fafafb;
  padding: 10px;
}

#wrap7 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap7 .inner #top7 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap7 .inner #top7 .wrapper {
  max-width: 500px;
}

#wrap7 .inner #top7 .wrapper h3 {
  color: #1c1c1f;
  font-size: 2.2rem;
  line-height: 1.5;
  margin: 0 0 1rem;
  font-family: "Helvetica Neue Light",Helvetica,sans-serif;
  font-weight: normal;
}

#wrap7 .inner #top7 .wrapper p {
  font-size: 1rem;
  font-family: "Helvetica Neue";
  margin: 0 0 1rem;
  line-height: 1.8;
  color: #1c1c1f;
}

#wrap7 .inner #bottom7 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap7 .inner #bottom7 .card {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#wrap7 .inner #bottom7 #one {
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/card-1.png");
  width: 260px;
  height: 267px;
}

#wrap7 .inner #bottom7 #two {
  width: 260px;
  height: 267px;
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/card-2.png");
}

#wrap7 .inner #bottom7 #three {
  width: 260px;
  height: 267px;
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/card-3.png");
}

#wrap7 .inner #bottom7 #four {
  width: 260px;
  height: 267px;
  background-image: url("https://capway.com/assets/module-site/pages/page-landing/card-4.png");
}

footer {
  background-color: #1c1c1f;
  padding: 30px;
  color: white;
}

footer #foot1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #foot1 #brand {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}

footer #foot1 #brand .logo .pic {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/logo.svg");
  width: 12rem;
  height: 2.5rem;
}

footer #foot1 #brand #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 13px;
}

footer #foot1 #brand #socials .icons {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

footer #foot1 #brand #socials #fb {
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/footer-facebook.svg");
}

footer #foot1 #brand #socials #ig {
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/footer-instagram.svg");
}

footer #foot1 #brand #socials #tw {
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/footer-twitter.svg");
}

footer #foot1 #brand #socials #yt {
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/footer-youtube.svg");
}

footer #foot1 #brand #socials #ln {
  background-image: url("https://capway.com/assets/module-core/footers/footer-default/footer-linkedin.svg");
}

footer #foot1 #site-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #foot1 #site-map .foot-section {
  text-align: left;
  padding: 1rem;
}

footer #foot1 #site-map .foot-section p {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: .85rem;
  margin: 0 0 0.8rem;
  opacity: .8;
}

footer #foot2 {
  margin: 0 auto;
  width: 90%;
  border-top: 0.05rem solid #47494a;
  padding: 3rem 0;
}

footer #foot2 .foot-box {
  font-size: .75rem;
  color: #929596;
  margin: 0 0 1.2rem;
  line-height: 1.5;
}

#foot3 {
  background-image: linear-gradient(225.47deg, #82D49D, #4BABD8);
  font-family: Helvetica Neue;
  padding-top: 5px;
  padding-left: 7px;
  padding-bottom: 5px;
  font-size: smaller;
  color: #fffc;
}

#foot3 p {
  margin-left: 75px;
}
/*# sourceMappingURL=app.css.map */