@import "variables/media";

@import "mixin/media";

@import "util/grid";

@import "lib/normalize";

@import "modifier/margin";

@import "base/base";
@import "base/fonts";

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-color: white;
$subheader-color: #ffffffcc;
$header-text-color: #ffffffcc;
$intro-text-color: #fff;
$email-button-color: #f8d88b;
$email-text-color: #4a4a4a;
$link-color: rgba(24,22,22,.8);

html {
  font-family: $font-family;
  width: 100%;

  body {
    width: 100%;
  }
  // adjust font size and rem size for page size
  // @include media($mediaXS, $mediaSM) { font-size: 20px; }
  // @include media($mediaSM, $mediaMD) { font-size: 16px; }
  // @include media($mediaMD, $mediaMAX) {  }
}

// ######################
// #### INTRO HEADER ####
// ######################

.header-container {
  padding: 0 25px;
  font-family: $font-family;
  color: $header-color;
  background-image: url("../img/background-gradient.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .header_intro_container {
    display: flex;
    align-items: center;
    padding: 80px 0 80px;

    // first target the 1080px breakpoint ($mediaMD)
    @include media($mediaXS, $mediaMD) {
      flex-direction: column;
    }

    @include media($mediaMD, $mediaMAX) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .header_intro_blurb_container {
    margin-bottom: 60px;

    h2 {
      margin-top: 0;
      max-width: 517px;
      color: $header-color;
      font-size: 2.5rem;
      @include media(1020PX, 1280px) {
        font-size: 3.3rem;
      }
      @include media(1280px, $mediaMAX) {
        font-size: 3.8rem;
      }
    }
    
    p {
      color: $header-text-color;
    }

    p.intro-blurb {
      line-height: 1.5;
      color: $intro-text-color;
      margin: 0 0 2rem;
      max-width: 25rem;
      font-size: 1.1rem;
      @include media(1020px, 1280px) {
        font-size: 1.2rem;
        max-width: 32rem;
      }
      @include media(1280px, $mediaMAX) {
        font-size: 1.5rem;
        max-width: 32rem;
      }

      a.pseudo-link {
        color: $link-color;
        text-decoration: none;
      }
    }

    .header_links {
      font-size: 0.8rem;

      a {
        color: $header-text-color;
        text-decoration: none;
      }
    }

    .header_spacer {
      margin: 0 0.5rem;
    }

    .email-input-holder {
      width: 90%;
      white-space: nowrap;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
      border-radius: .3rem;
      overflow: hidden;
      height: 3rem;
      margin: 0 0 2rem;

      input {
        width: 70%;
        border: none;
        height: inherit;
        box-sizing: border-box;
        padding: 0 0 0 1rem;
        line-height: 1;

      }
      input::placeholder {
        color: #9e6565 !important;
      }

      .email-input-button {
        vertical-align: top;
        display: inline-block;
        left: -.5rem;
        width: 32%;
        background-color: $email-button-color;
        color: $email-text-color;
        font-size: .9rem;
        height: inherit;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0 0;
        position: relative;
        box-sizing: border-box;
      }
    }
  }

  .header_intro_image {
    width: 23rem;
    height: 23rem;
    background-image: url("../img/phone-card.png");
    background-size: contain;
    background-repeat: no-repeat;

    @include media($mediaXS, $mediaSubSM) {
      width: 23rem;
      height: 23rem;
    }
    @include media($mediaSubSM, $mediaMdLg) {
      width: 36rem;
      height: 36rem;
    }
    @include media($mediaMdLg, $mediaMAX) {
      width: 40rem;
      height: 40rem;
    }
  }
}

// ###########################
// #### MONEY CARD HEADER ####
// ###########################

$cards-bg-color: #fafafb;
$cards-header-color: #1c1c1f;
$cards-button-color: #00ace2;
$cards-button-font-color: #fff;

.cards_container {
  padding: 70px 0 38px 0;
  font-family: $font-family;
  background-color: $cards-bg-color;
  padding-bottom: 5rem;

  .cards-header {
    color: $cards-header-color;
    text-align: center;
    font-weight: 500;
    @include media($mediaXS, $mediaMD) {
      font-size: 1.5rem;
    }
    @include media($mediaMD, $mediaMAX) {
      font-size: 2rem;
    }
  }

  .cards_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    @include media($mediaXS, $mediaMD) {
      flex-direction: column;
    }

    @include media($mediaMD, $mediaMAX) {
      flex-direction: row;
    }
  }

  .card-content {
    color: #333;
    font-size: 1rem;
    @include media($mediaXS, $mediaMD) {
      font-size: 1rem;
    }
    @include media($mediaMD, $mediaMAX) {
      font-size: 1.1rem;
    }
  }

  .card-text {
    padding: 0 20px;
    margin: 0 auto;
    width: 90%;
    line-height: 1.5;
    text-align: center;
  }

  // CARD ICONS

  .card_icon {
    margin: 3rem auto 1.5rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .card_icon-1 {
    width: 7rem;
    height: 6rem;
    background-image: url('../img/card_icon1.svg');
  }

  .card_icon-2 {
    width: 6rem;
    height: 6rem;
    background-image: url('../img/card_icon2.svg');
  }

  .card_icon-3 {
    width: 6rem;
    height: 6rem;
    background-image: url('../img/card_icon3.svg');
  }

  // CARD BACKGROUNDS

  .card {
    @include media($mediaXS, $mediaMD) {
      background-image: none;
      width: 90%;
      border-radius: .5rem;
      min-height: 14rem;
      margin: 0 0 2rem;
      padding: 10px 0 90px 0;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1);
    }

    @include media($mediaMD, $mediaMAX) {
      padding: 10px 0 90px 0;
      margin: 0 0 2rem;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: .5rem;
      height: 19rem;
      width: 19rem;
    }
    
    &.card-1 {
      @include media($mediaXS, $mediaMD) {
        background-color: #c8e6f3;
      }
      
      @include media($mediaMD, $mediaMAX) {
        background-image: url("../img/card_bg1.png");
      }
    }
    
    &.card-2 {
      @include media($mediaXS, $mediaMD) {
        background-color: #fbe9bc;
      }
      
      @include media($mediaMD, $mediaMAX) {
        background-image: url("../img/card_bg2.png");
      }
    }
    
    &.card-3 {
      @include media($mediaXS, $mediaMD) {
        background-color: #a8e1bb;
      }
      
      @include media($mediaMD, $mediaMAX) {
        background-image: url("../img/card_bg3.png");
      }
    }
  }
}
.money-button-container {
  text-align: center;
}

.money-button {
  margin: 0 auto; 
  font-size: .9rem;
  color: $cards-button-font-color;
  background-color: $cards-button-color;
  border-radius: .3rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1 ),0 2px 4px 0 rgba(0,0,0,.1);
  padding: 20px;
  width: 320px;
  cursor: pointer;
}

// ############################
// #### APP SECTION HEADER ####
// ############################

$brand-blue: #4babd8;
$brand-green: #82d49d;

.mobile-apps-section {
  background: linear-gradient(45deg, $brand-blue, $brand-green);
  padding: 3rem 0;
  position: relative;
  overflow: hidden;

  @include media($mediaMD, $mediaMAX) {
    background-position: 90% 110%;
    background-repeat: no-repeat;
  }

  .card-image {
    @include media($mediaMD, $mediaMAX) {
      background: url('../img/capway-card_app_section.svg');
      height: 270px;
      width: 230px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      right: 100px;
      top: 90px;
      position: absolute;
      // z-index: 1;
    }
  }
  
  .mobile-apps-header {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    color: $header-color;
    @include media($mediaMD, $mediaMAX) {
      font-size: 2rem;
    }
  }

  .app-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .app-badge {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .3rem;
    width: 11rem;
    height: 4rem;
    margin: 16px;
    cursor: pointer;

    &.google {
      background-image: url('../img/google-play_badge.svg');
    }
    
    &.apple {
      background-image: url('../img/apple_badge.svg');
    }
  }
}

// ############################
// #### FEATURED-IN HEADER ####
// ############################
$featured-bg-color: #1c1c1f;
$featured-header-color: #f4f4f8;

.featured-section {
  background-color: $featured-bg-color;
  text-align: center;
  padding: 3.5rem 0 4rem;
  
  .featured-header {
    color: $featured-header-color;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 32px 0;
  }

  .featured-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .featured-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 32px;
    width: 112px;
    margin: 1rem 2rem;

    &.essence {
      background-image: url('../img/featured-essence.png');
    }

    &.cnn {
      background-image: url('../img/featured-cnn.png');
    }

    &.business-insider {
      background-image: url('../img/featured-bi.png');
    }

    &.inc {
      background-image: url('../img/featured-inc.png');
    }

    &.forbes {
      background-image: url('../img/featured-forbes.png');
    }
  }
}

// ########################
// #### ARTICLE HEADER ####
// ########################

$article-section-header-color: #1c1c1f;
$article-subheader-color: #4a4a4a;
$selected-article-subheader-color: #00ace2;
$article-section-bg-color: #fafafb;
$article-bg-color: #fff;
$article-border-color: #eee;
$article-date-color: #9b9b9b;
$author-font-color: #4a4a4a;
$moneymeanings-bg-color: rgb(159, 211, 235);

.dynamic-article-section {
  font-family: $font-family;
  background-color:  $article-section-bg-color;
  padding: 6rem 27px 4rem;
  border-bottom: .05rem solid #ddd;
  
  @include media($mediaMD, $mediaMAX) {
    padding: 6rem 64px 4rem;
  }

  // article section controls
  .article-section-header {
    color: $article-section-header-color;
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 1.5rem;
    @include media($mediaMD, $mediaMAX) {
      font-size: 2rem;
    }
  }
  .article-section-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: .05rem solid #ddd;
    max-width: 43rem;
    margin: 0 auto 2rem;
    // align-items: center;
  }

  .article-option {
    padding: 1rem 1.5rem;
    border-bottom: .2rem solid transparent;
    transition: all .25s;
    cursor: pointer;

    &.selected {
      color: #00ace2;
      border-bottom-color: #00ace2;
    }
  }

  // articles container
  .content-holder {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    @include media($mediaXS, $mediaMD) {
      flex-direction: column;
    }
    
    @include media($mediaMD, $mediaMAX) {
      flex-direction: row;
    }
  }

  .content-holder {
    &.video {
      article.article-card-container.video-card {
        display: flex;
      }
    }
    &.shortarticle {
      article.article-card-container.shortarticle-card {
        display: flex;
      }
    }
    &.infographics {
      article.article-card-container.infographics-card {
        display: flex;
      }
    }
    &.knowmoneyfacts {
      article.article-card-container.knowmoneyfacts-card {
        display: flex;
      }
    }
    &.moneymeanings {
      article.article-card-container.moneymeanings-card {
        display: flex;
      }
    }
  }

  // generic article card class, applies to all articles
  .article-card-container {
    width: 16rem;
    height: 22rem;
    background-color: $article-bg-color;
    overflow: hidden;
    border: .05rem solid $article-border-color;
    border-radius: .5rem;
    position: relative;

    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @include media($mediaXS, $mediaMD) {
      width: 100%;
      max-width: 600px;
      margin: 0 0 16px;
    }
    
    @include media($mediaMD, $mediaMAX) {
      width: 16rem;
      height: 22rem;
      margin: 0 8px 16px;
    }

    .content-container {
      padding: 10px 5px;

      > div {
        @include media($mediaXS, $mediaMD) {
          padding: 0 16px;
        }
        
        @include media($mediaMD, $mediaMAX) {
          padding: 0 10px;
        }
      }
    }

    .card-title-container {
      margin-bottom: 6px;
    }

    a.card-title {
      color: $header-text-color;
      font-size: .95rem;
      line-height: 1.5;
      font-weight: 600;
      text-decoration: none;
    }

    .card-date {
      font-size: .75rem;
      color: $article-date-color;
    }

    .card-author-container {
      background-color: $article-bg-color;
      padding: .5rem .8rem;
      border-radius: 0 0 .5rem .5rem;
      min-height: 40px;
      color: $author-font-color;
      font-size: .8rem;
      vertical-align: middle;
      display: flex;
      align-items: center;

      .card-icon {
        width: 1.3rem;
        height: 1.3rem;
        max-width: 1.3rem;
        max-height: 1.3rem;
        border-radius: 1.1rem;
        border: .05rem solid #ddd;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        margin-right: 4px;
      }
    }
  }

  // video card styles
  .article-card-container.video-card {
    .video-play-button {
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      width: 64px;
      height: 64px;
      background-image: url('../img/play-button.svg');
      
      position: absolute;
      transform: translateX(-50%);
      transform: translateY(-50%);
      @include media($mediaXS, $mediaMD) {
        left: 45%;
        top: 40%;
      }
      @include media($mediaMD, $mediaMAX) {
        left: 40%;
        top: 40%;
      }
    }
  }

  // money facts card styles
  article.article-card-container.knowmoneyfacts-card {
    .content-container {
      padding: 0 0 10px 0;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      height: 100%;

      > div.card-title-container {
        background-color: $article-bg-color;
        padding: 8px 12px;
        @include media($mediaXS, $mediaMD) {
          padding-bottom: 24px;
        }
        
        > a {
          color: $article-section-header-color;
          font-size: .8rem;
          line-height: 1.3rem;
        }
      }

      > div.card-date {
        padding: 0px 15px;
      }

    }
  }

  // money meanings card styles
  article.article-card-container.moneymeanings-card {
    background: rgb(159, 211, 235);
    background-image: url('../img/moneymeanings-bg2.png');
    background-repeat: no-repeat;

    @include media($mediaXS, $mediaMD) {
      background-size: 200px;
      background-position-x: 50%;
      background-position-y: 50%;
      }
      @include media($mediaMD, $mediaMAX) {
        background-size: 65%;
        background-position-x: 80px;
        background-position-y: 120px;
      }

    > .moneymeanings-container {
      color: $header-text-color;
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 100%;
      padding: 0 30px;

      h2 {
        margin-bottom: 10px;
      }

      .money-description {
        font-size: .9rem;
        line-height: 1.8;
      }
    }
  }

}

// ###############################
// #### PHUNDS SECTION HEADER ####
// ###############################
$phunds-section-bg-color: #a8e1bb;
$phunds-header-color: #1c1c1f;
$phunds-text-color: #333;
$phunds-button-color: #f8d88b;

.phunds-section {
  display: flex;
  padding: 5rem .5rem 0 .5rem;
  text-align: center;
  background-color:  $phunds-section-bg-color;

  @include media($mediaXS, $mediaMD) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  @include media($mediaMD, $mediaMAX) {
    justify-content: center;
    align-items: center;
  }

  .phunds-subsection-container {
    width: 100%;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto 2rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    @include media($mediaMD, $mediaMAX) {
      max-width: 325px;
      text-align: left;
    }
  }

  h1.phunds-header {
      font-size: 1.5rem;  
      font-weight: 500;
      color: $phunds-header-color;
    @include media($mediaMD, $mediaMAX) {
      font-size: 2rem;
    }
  }

  .phunds-text {
    font-size: .95rem;
    text-align: center;
    color: $phunds-text-color;
    max-width: 40rem;
    line-height: 1.8;

    @include media($mediaMD, $mediaMAX) {
      text-align: left;
    }
  }

  .flex-literacy {
    @include media($mediaMD, $mediaMAX) {
      order: 1;
      margin-right: 0;
    }
  }

  .flex-money-room {
    @include media($mediaMD, $mediaMAX) {
      order: 3;
      margin-left: 0;
    }
  }

  .phone-image-holder {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    background-size: cover;
    background-image: url('../img/phunds-phone.png');

    @include media($mediaMD, $mediaMAX) {
      order: 2;
      height: 30rem;
      width: 30rem;
    }
  }

  .money-button-container.money-button-container--phunds {
    margin-top: 2rem;
    > .money-button {
      background-color: $phunds-button-color;
      > span {
        color: black;
      }
    }
  }

}

// ################################
// #### NUMBERS SECTION HEADER ####
// ################################
$numbers-bg-color: #fafafb;

.numbers-section {
  background-color: $numbers-bg-color;
  padding: 5rem 0 7rem;
  border-bottom: .05rem solid #ddd;
  display: flex;
  @include media($mediaXS, $mediaMD) {
    flex-direction: column;
    align-items: center;
  }
  @include media($mediaMD, $mediaMAX) {
    flex-direction: row;
    justify-content: center;
  }

  .numbers-text-container {
    max-width: 640px;
    text-align: center;
    margin-bottom: 50px;
    
    @include media($mediaMD, $mediaMAX) {
      max-width: 448px;
      margin-right: 100px;
      text-align: left;
      justify-self: flex-start;
    }

    .numbers-text {
      line-height: 1.8;
      @include media($mediaXS, $mediaMD) {
        font-size: .9rem;
      }
      @include media($mediaMD, $mediaMAX) {
        font-size: 1rem;
      }
    }

    h2 {
      line-height: 1.5;
      @include media($mediaXS, $mediaMD) {
        font-size: 1.5rem;
      }
      @include media($mediaMD, $mediaMAX) {
        font-size: 2rem;
      }
    }
  }

  .numbers-image-container {
    object-fit: cover;
    background-size: cover;
    background-image: url('../img/numbers-graph.png');
    height: 28rem;
    width: 30rem;
    max-width: 100%;
    
    @include media($mediaXS, $mediaSM) {
      // font-size: 1.5rem;
    }
    @include media($mediaMD, $mediaMAX) {
      height: 24rem;
      width: 26rem;
    }
  }
}

// ###############################
// #### FOOTER SECTION HEADER ####
// ###############################

$footer-bg-color: #1c1c1f;
$header-text-color: #fff;
$disclaimers-border-color:#47494a;
$disclaimers-color: #929596;

.footer-section {
  
  background-color: $footer-bg-color;
  padding: 60px 40px;

  .links-content-container {
    display: flex;

    @include media($mediaXS, $mediaSmMd) {
      flex-direction: column;
      align-items: center;
    }
    @include media($mediaSmMd, $mediaMAX) {
      flex-direction: row;
      justify-content: center;
    }

    .links-container {
      display: flex;
      flex-wrap: wrap;
      color: $header-text-color;
      max-width: 64rem;

      @include media($mediaXS, $mediaSmMd) {
        text-align: center;
        justify-content: center;
      }
      @include media($mediaSmMd, $mediaMAX) {
        text-align: left;
      }

      .link-column {
        padding: 0 1rem 1rem;
        margin: 0 0 1rem;
      }

      h2 {
        font-size: .85rem;
        margin: 0 0 1rem;
      }

      p {
        font-size: .85rem;
        margin: 0 0 .8rem;
        opacity: .8;
        cursor: pointer;
      }
    }

    .logo-container {
      margin-top: 1rem;
      margin-right: 2rem;
      .logo {
        margin-bottom: 1rem;
        width: 144px;
        height: 40px;
        object-fit: cover;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/logo-footer.svg');
        cursor: pointer;
      }
    }
  }

  .disclaimers-content-container {
    max-width: 60rem;
    border-top: .05rem solid $disclaimers-border-color;
    margin: 3rem auto 0;
    padding: 3rem 0 0;

    p {
      font-size: .75rem;
      color: #929596;
      margin: 0 0 1.2rem;
      line-height: 1.5;

      a {
        color: $disclaimers-color;
      }
    }
  }
}

.copyright-section {
  background-image: linear-gradient(225.47deg,#82d49d,#4babd8);
  
  h3 {
    font-size: .8rem;
    font-weight: 400;
    display: block;
    max-width: 64rem;
    margin: 0 auto;
    padding: .8rem 0;
    color: $header-text-color;
    width: 85%;
  }
}
