@use './variables.scss' as *;

@mixin text {
    display: block;
    color: $white;
    font-family: "Helvetica Neue Bold";
}


    footer {
        background-color: $gray6;

        .section1 {
            max-width: 64rem;
            margin: 0 auto;
            width: 90%;
            padding: 3rem 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__branding {
                width: 16%;
                margin: 0 0 1rem;

                .logo {
                    width: 10rem;
                    height: 3rem;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @include bg-image('/assets/module-core/footers/footer-default/logo.svg');
                    margin: 0 0 1rem;
                }

                .social_icons {
                    display: flex;
                    justify-content: space-between;
                    .icon {
                        width: 1.2rem;
                        height: 1.2rem;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }

            &__site-sections {
                display: flex;
                justify-content: space-between;
                width: 75%;
                flex-wrap: wrap;

                .footer-section {
                    strong {
                        @include text;
                        font-size: .85rem;
                        margin: 0 0 1rem;
                    }
                    p {
                        @include text;
                        text-decoration: none;
                        font-size: .85rem;
                        margin: 0 0 0.8rem;
                        opacity: .8;
                    }
                }
            }
        }

        .section2 {
            max-width: 64rem;
            margin: 0 auto;
            width: 90%;
            border-top: 0.05rem solid $legal-gray2;
            padding: 3rem 0;

            &__legal-text {
                p {
                    font-size: .75rem;
                    color: $legal-gray;
                    margin: 0 0 1.2rem;
                    line-height: 1.5;
                }
            }
        }

        .copy-right {
            background-image: linear-gradient(225.47deg, $green, $blue1);
            p {
                display: block;
                max-width: 64rem;
                margin: 0 auto;
                width: 90%;
                padding: 0.8rem 0;
                color: $white;
            }
        }
    }

    @include media-tablet {
        footer 
        .section1 {
            flex-direction: column;
            align-items: center;

            &__branding {
                width: 15rem;
                margin: 0 0 4rem;

                .logo {
                    margin: 0 auto 1rem;
                }
            }

            &__site-sections {
                width: 100%;
                justify-content: center;

                .footer-section {
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }