@use './variables.scss' as *;

    @mixin live-link {
        color: $blue2;
        border-bottom-color: $blue2;
    }

    .section-five {
        background-color: #fafafb;
        padding: 5rem 0;
        border-bottom: 0.05rem solid #DDDDDD;
    
        .know-money-container {
        
            width: 90%;
            margin: 0 auto;
            max-width: 64rem;

            h2 {
                color: #1c1c1f;
                font-family: "Helvetica Neue Light",Helvetica,sans-serif;
                text-align: center;
                font-size: 2rem;
                margin: 0 auto 1rem;
            }

            &__options-wrapper {
                border-bottom: 0.05rem solid #DDDDDD;
                max-width: 43rem;
                margin: 0 auto 2rem;
                text-align: center;

                div {
                    display: inline-block;
                    padding: 1rem 1.5rem;
                    border-bottom: 0.2rem solid transparent;
                    text-align: center;
                    cursor: pointer;
                    color: $gray4;

                    &:hover {
                        @include live-link
                    }
                }

                .selected {
                    @include live-link
                }
            }

            &__api-results {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 0 1rem;

                .know-money-card {
                    display: block;
                    max-width: 25%;
                    width: 100%;
                    margin: 0 0 1rem;
                    ul {
                        list-style: none;

                        a {
                            min-height: 20rem;
                            border-radius: 1rem;
                            background-color: $black;
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            text-decoration: none;
                            display: block;
                            max-width: 16rem;
                            box-shadow: 0 0 8px #0000000a;

                            .bg-image {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                z-index: 0;
                            }
                            .bg-overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                background-image: linear-gradient(180deg,rgba(0,0,0,.05) 0%,rgba(0,0,0,.8) 100%);
                            }
                            .card-content {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 2;

                                .card-details {
                                    position: absolute;
                                    bottom: 1rem;
                                    left: 8%;
                                    width: 90%;
                                    .card-title {
                                        color: $white;
                                        font-size: 1.1rem;
                                        display: block;
                                        margin: 0 0 0.5rem;
                                    }
                                    .published-on {
                                        display: block;
                                        font-size: .75rem;
                                        color: #969696;
                                        margin: 0 0 1rem;
                                    }
                                    .author-image {
                                        width: 2.2rem;
                                        height: 2.2rem;
                                        background-color: #000;
                                        display: inline-block;
                                        background-position: center center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        border-radius: 2.2rem;
                                        vertical-align: middle;
                                        margin: 0 0.5rem 0 0;
                                    }
                                    .author-details {
                                        display: inline-block;
                                        vertical-align: middle;
                                        #author-name {
                                            display: block;
                                            font-size: .95rem;
                                            color: #fff;
                                            margin: 0 0 0.3rem;
                                        }
                                        #card-category {
                                            background-color: #f0f0f0cc;
                                            border-radius: 1.3rem;
                                            padding: 0.3rem 0.8rem;
                                            color: #333;
                                            font-size: .8rem;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }

            &__btn {
                max-width: 20rem;
                display: block;
                margin: 0 auto;
                button {
                    @include button('big')
                }
                
            }
        }
    }