@use './variables.scss' as *;

    .section-six {
        background-color: $white4;
        padding: 5rem 0;
        border-bottom: 0.05rem solid $light-gray;

        .numbers-container {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            max-width: 64rem;

            &__text {
                width: 35%;
                padding: 3rem 0 0 0;

                h3 {
                    color: $gray6;
                    font-size: 2.2rem;
                    line-height: 1.5;
                    margin: 0 0 1rem;
                    font-family: "Helvetica Neue Light",Helvetica,sans-serif;
                }

                p {
                    font-size: 1rem;
                    font-family: "Helvetica Neue";
                    margin: 0 0 1rem;
                    line-height: 1.8;
                    color: $gray6;
                }
            }

            &__cards {
                width: 40%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                
                .cards_holder1 {
                    width: 48%;
                    padding: 3rem 0 0;

                    .card {
                        height: 10em;
                        width: 10em;
                    }
                }
                .cards_holder2 {
                    width: 48%;

                    .card {
                        height: 10em;
                        width: 10em;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-small-desktop) {
        .section-six
        .numbers-container {
            flex-direction: column;
            align-items: center;

            &__text {
                text-align: center;
                width: 100%;
            }

            &__cards {
                max-width: 35rem;
                width: 100%;



                .cards_holder1 {
                    .card {
                        width: 100%;
                        height: 58%;
                    }
                }

                .cards_holder2 {
                    .card {
                        width: 100%;
                        height: 58%;
                    }
                }
            }
        }
    }