// Colors
$blue: #4BABD8;
$tan: #F0F0F0;
$green: #82D49D;
$yellow: #F8D88B;
$light-yellow: #FBE9BC;
$light-blue: #E3F2F9;
$white: #FFFFFF;
$dark-blue: #0000EE;
$gray1: #D6D6D6;
$gray2: #969696;
$gray3: #999999;
$gray4: #4A4A4A;
$gray5: #333333;
$gray6: #1C1C1F;
$black: #000000;

$font: 'Helvetica Neue';
$url: 'https://web.dev.cpwys.co';

$breakpoint-tablet: 1100px;
$breakpoint-desktop: 80em;

// Mixins

@mixin bg-image ($image) {
    background-image: url("#{$url}#{$image}");
}